@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.HideNav = true;
    ViewBag.HideFooter = true;
}

<script type="text/javascript">
    function showErrorMessage(sCall, sType, sError, jqXHR) {
        //Temporary
        alert(sError);
    }

    function getNextSigningUrl(envelopeId) {
        $.when(
            getAsync(docuSignApiBaseUrl + "/api/envelopes/" + envelopeId + "/nextinplacesignurl?signInPlaceReturnUrl=" + signInPlaceReturnUrl)
        ).then(function (inplaceSignerResponse) {
            if (inplaceSignerResponse.SigningUrl) {
                window.location.href = inplaceSignerResponse.SigningUrl;
            } else {
                window.close();
            }
        });
    }

    function getAsync(resource) {
        return $.ajax({
            url: resource,
            type: "GET",
            headers: {
                'Access-Control-Allow-Origin': '*'
            },
            dataType: "json",
            error: function (jqXHR, textStatus, errorThrown) {
                showErrorMessage("getAsync", "method", errorThrown, jqXHR);
            }
        });
    }

    function postAsync(resource, data) {
        return $.ajax({
            url: resource,
            type: "POST",
            headers: {
                'Access-Control-Allow-Origin': '*'
            },
            data: JSON.stringify(data),
            contentType: "application/json",
            dataType: "json",
            error: function (jqXHR, textStatus, errorThrown) {
                showErrorMessage("getAsync", "method", errorThrown, jqXHR);
            }
        });
    }

    var docuSignApiBaseUrl = '@System.Configuration.ConfigurationManager.AppSettings["DocuSignApiBaseUrl"]';
    var signInPlaceReturnUrl = '@System.Configuration.ConfigurationManager.AppSettings["SiteBaseUrl"]/SignInPlace';
    $(document).ready(function () {
        var envelopeId = '@ViewBag.EnvelopeId';
        if (envelopeId) {
            getNextSigningUrl(envelopeId);
        }
    });
</script>
<div hidden>
    Event: <b>@ViewBag.Event</b><br />
    EnvelopeId: <b>@ViewBag.EnvelopeId</b>
</div>
<div class="center-block text-center" style="margin-top: 200px;">
    <i class="fa fa-5x fa-circle-o-notch fa-spin"></i><br />
    Loading...
</div>